<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<!-- Additional metadata, stylesheets, or scripts can be included here -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/libs/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<title>{% block title %} {% endblock %}</title>

</head>
<body>
    <!-- Header -->
            {% include 'main/__header.html' %}
    <div class="page">
        <main class="content">
            {% block content %} {% endblock %}
        </main>
        <!-- Footer -->
            {% include 'main/__footer.html' %}
    </div>
</body>
<script src="{{ url_for('static', filename='js/libs/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
</html>