<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<!-- Additional metadata, stylesheets, or scripts can be included here -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/libs/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/all.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<title>{% block title %} {% endblock %}</title>

</head>
<body>
    <!-- Header -->
            {% include 'main/__header.html' %}
    <!-- Flash message -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{category}}">
                    {{message}}
                </div>
            {% endfor %}
        {5 endif %}
    {# endwith %}
    <!-- Flash message -->
    <div class="page">
        <main class="content">
            <h1>{{ self.title() }}</h1>
            {% block content %} {% endblock %}
        </main>
        <!-- Footer -->
            {% include 'main/__footer.html' %}
    </div>
</body>
<script src="{{ url_for('static', filename='fontawesome/js/all.js') }}"></script>
<script src="{{ url_for('static', filename='js/libs/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
</html>